body {
    background-color: #dad7cd;
    color: #011627;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
}

/* nav bar */

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #011627;
    display: flex;
    justify-content: end;
}

#nav li {
    float: left;
}

#nav li a {
    display: flex;
    padding: 12px 12px;
    text-decoration: none;
    color: #fdfffc;
}

#nav li a:hover {
    background-color: #284b63;
}

#nav .active {
    background-color: #284b63;
}

/* hero */

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 50px;
    gap: 50px;
}
#victor {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 8px solid #1b263b;
}

#desc {
    width: 400px;
}

.social {
    width: 50px;
    margin: 5px 5px;
}

/* scroll to top */

*, html {

    scroll-behavior: smooth !important;
}

#scrollToTop {
    display: none; 
    position: fixed; 
    bottom: 20px;
    right: 20px;
    z-index: 99; 
    border: none;
    outline: none;
    background-color:#011627; 
    color:white;
    cursor: pointer;
    border-radius: 8px;
    padding: 15px 50px;
    font-size: 15px;
}

/* footer */

#footer {
    text-align: center;
}

#footer p, #footer a {
    color: #011627 !important;
}