body {
    font-family:monospace;
    color:white;
    background-color:rgb(30, 6, 69);
}
h1 {
    text-align: center;
}

.topnav {
    background-color:rgb(160, 140, 233);
    overflow:auto
  }
  
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #3904aa;
    color: white;
  }
.image7 {
  height:27%;
  width:27%;
}
.aClass {
  color:white;
}
.pClass {
  text-align: center;
}