body {
  text-align: center;
  background-color: #1e2c25
}

#level-title {
  font-family: "Archivo Black", sans-serif;
  font-size: 2.5rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 20%;
}

.game-over {
  background-color: rgb(107, 22, 22);
  opacity: 0.8;
}

.red {
  background-color: rgb(196, 60, 60);
}

.green {
  background-color: rgb(20, 77, 20);
}

.blue {
  background-color: rgb(33, 33, 109);
}

.yellow {
  background-color: rgb(199, 199, 56);
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: rgb(60, 184, 163);
}

#back-btn {
  background-color: rgb(22, 69, 22);
  border: 2px solid rgb(83, 147, 83);
  border-radius: 4px;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 20px;
  width: 40%;
  height: 40px;
  text-align: center;
  padding: 10px 30px;
}