body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(238, 228, 255);
  color: rgb(21, 20, 21);
}

h1 {
  text-align: center;
}

p {
  font-size: 1.25rem;
}

.topnav {
  background-color: rgb(160, 140, 233);
  overflow: auto;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #3904aa;
  color: white;
}

.pClass {
  text-align: center;
}

.formBox {
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  width: 500px;
}

.radioGroup {
  display: flex;
  margin-bottom: 16px;
}

input[type='radio'] {
  margin-right: 8px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  color: #3904aa;
  font-weight: 600;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
  border-radius: 10px;
}

button {
  background-color: #3904aa;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  width: 100%;
  font-size: 15px;
  transition: 0.2s linear;
}

button:hover {
  background-color: #7a63ac;
  border: none;
  transform: translateY(-10px);
}

.image12 {
  height: 140px;
  width: 100px;
  float: right;
  margin: 5px;
}
.image13 {
  height: 140px;
  width: 100px;
  float: left;
  margin: 5px;
}
