body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    background-color:rgb(30, 6, 69);
}
h1 {
    text-align: center;
}

.topnav {
    background-color:rgb(160, 140, 233);
    overflow:auto
  }
  
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #3904aa;
    color: white;
  }
  .aClass {
    color:white;
  }
  .image6 {
    height:32%;
    width:32%;
    float: right;
    margin: 5px;
  }
  .image8 {
    height:25%;
    width:22%;
    float: left;
    margin: 5px;
  }

  #quiz {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #6666f0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(198, 222, 60, 0.2);
  }
  
  h2 {
    text-align: center;
    color: white;
  }
  
  #question {
    margin-bottom: 20px;
  }
  
  #options {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
  
  button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: white;
    color: #131313;
    border:none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #8f8d8d;
  }

  #scrollToTop {
    display: none; 
    position: fixed; 
    bottom: 20px;
    right: 20px;
    z-index: 99; 
    border: none;
    outline: none;
    background-color:white; 
    color:black;
    cursor: pointer;
    border-radius: 25%;
    padding: 15px;
    font-size: 15px;
  }