body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(238, 228, 255);
  color: rgb(21, 20, 21);
  text-align: center;
}

p {
  font-size: 1.5rem;
  margin: 60px;
}

h1,
h2 {
  text-align: center;
}

.topnav {
  background-color: rgb(160, 140, 233);
  overflow: auto;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #3904aa;
  color: white;
}

.aClass {
  color: rgb(21, 20, 21);
}

#img-div {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.image10 {
  height: 25%;
  width: 25%;
}

.image11 {
  height: 40%;
  width: 40%;
}

#scrollToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  border-radius: 25%;
  padding: 15px;
  font-size: 15px;
}
