body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(238, 228, 255);
  text-align: center;
}

hr {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

h1,
h2,
h3 {
  text-align: center;
  color: rgb(21, 20, 21);
}

p {
  color: rgb(21, 20, 21);
  text-align: center;
  font-size: 1.5rem;
  display: block;
  width: 70%px;
  margin: 50px;
}

.pClass {
  text-align: center;
  color: rgb(21, 20, 21);
}

.topnav {
  background-color: rgb(160, 140, 233);
  overflow: auto;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #3904aa;
  color: white;
}

.aClass {
  color: rgb(21, 20, 21);
  text-align: center;
}

.image6 {
  height: 32%;
  width: 32%;
  float: right;
  margin: 20px;
}
.image8 {
  height: 25%;
  width: 22%;
  float: left;
  margin: 20px;
}

#quiz {
  width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: ghostwhite;
  background-color: #6666f0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(198, 222, 60, 0.2);
  text-align: center;
  margin-left: 400px;
}

#quiz h2 {
  color: ghostwhite;
}

#question {
  margin-bottom: 20px;
}

#options {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: white;
  color: #131313;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #8f8d8d;
}

#scrollToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  border-radius: 25%;
  padding: 15px;
  font-size: 15px;
}
