body {
  background-color: #dad7cd;
  color: #011627;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
}

h1, h2, h3 {
    font-family: 'EB Garamond', 'Courier New', Courier, monospace;
    font-weight: 700;
}

h1 {
  padding-top: 20px;
}

#links,
#older-projects {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
}

#older-projects {
  display: none;
}

#links a,
#older-projects a {
  color: #ffffff;
  background-color: #028090;
  border: 1px solid black;
  border-radius: 8px;
  text-decoration: none;
  width: 70%;
  margin: 4px;
  padding: 10px;
  transition: background-color 0.3s;
}

#older-projects a {
  width: 60%;
}

#links a:hover,
#older-projects a:hover {
  background-color: #00a896;
}

.icon {
  width: 70px;
  max-height: 70px;
  margin: 5px 5px;
}

.iconTwo {
  width: 120px;
  max-height: 120px;
  margin: 5px 5px;
}

/* nav bar */
#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #028090;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#nav li a {
  display: flex;
  padding: 10px 40px;
  text-decoration: none;
  color: #fdfffc;
  margin: 0px;
  transition: background-color 0.3s;
}

#nav li a:hover {
  background-color: #00a896;
}

#nav .active {
  background-color: #00a896;
}

#specifier {
  color: #ffffff;
  background-color: #028090;
  border: 1px solid black;
  text-decoration: none;
  width: 40%;
  margin: 5px;
  padding: 20px;
}

#footer {
  text-align: center;
}

#footer p,
#footer a {
  color: #03256c !important;
}

/* media queries */
@media only screen and (max-width: 767px) {
  #links,
  #older-projects {
    font-size: 30px;
  }

  #links a,
  #older-projects a {
    width: 90%;
    padding: 15px;
  }

  .icon {
    width: 50px;
    max-height: 50px;
  }

  .iconTwo {
    width: 90px;
    max-height: 90px;
    margin: 5px 5px;
  }

  #specifier {
    width: 80%;
    padding: 15px;
  }
}

@media only screen and (max-width: 400px) {
  #links,
  #older-projects {
    font-size: 20px;
    margin-inline: 10px;
  }

  #links a,
  #older-projects a {
    width: 100%;
    padding: 10px;
  }

  .icon {
    width: 40px;
    max-height: 40px;
  }

  .iconTwo {
    width: 70px;
    max-height: 70px;
    margin: 5px 5px;
  }

  #specifier {
    width: 100%;
    padding: 10px;
  }
}
