body {
  background-color: #dad7cd;
  color: #011627;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
}

h1, h2, h3 {
    font-family: 'EB Garamond', 'Courier New', Courier, monospace;
    font-weight: 700;
}

/* nav bar */
#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #028090;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#nav li a {
  display: flex;
  padding: 10px 40px;
  text-decoration: none;
  color: #fdfffc;
  margin: 0px;
  transition: background-color 0.3s;
}

#nav li a:hover {
  background-color: #00a896;
}

#nav .active {
  background-color: #00a896;
}

#main {
  margin-top: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#back-btn {
  background-color: #03256c;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  margin: 10px auto;
  width: 200px;
  height: 50px;
  text-align: center;
  padding: 10px 30px;
  display: block;
}

h2 {
  margin: 20px;
}

.icon {
  width: 100px;
  margin: 5px 5px;
}
