body {
  background-color: #dad7cd;
  color: #011627;
  font-family: 'EB Garamond', 'Courier New', Courier, monospace;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
}

h1, h2, h3 {
    font-family: 'EB Garamond', 'Courier New', Courier, monospace;
    font-weight: 700;
}

/* nav bar */
#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #028090;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#nav li a {
  display: flex;
  padding: 10px 40px;
  text-decoration: none;
  color: #fdfffc;
  margin: 0px;
  font-family: 'Courier New', Courier, monospace;
  transition: background-color 0.3s;
}

#nav li a:hover {
  background-color: #00a896;
}

#nav .active {
  background-color: #00a896;
}

p {
  font-family: 'EB Garamond', 'Courier New', Courier, monospace;
}
